<div id="record-play">
    <div class="pause btn" @click="toggleStart(false)">{{end?"播放":(paused?"继续":"暂停")}}</div>
    <div class="speed btn" @click="toggleSpeed()">{{speed=="normal"?"加快":"放慢"}}</div>
    <div id="title">{{recordData.attacker.name}}  VS  {{recordData.defender.name}}</div>

    <div class="clear"></div>
    <div id="teams">
        <div id="attacker" class="team">

            <Hero v-for="(hero,index) in recordData.detail.attackTeam.heros" :hero-data="hero" :index="index" :battle-end="end" :cur-actor="curHero"></Hero>

        </div>
        <div id="defender"  class="team">
            <Hero v-for="(hero,index) in recordData.detail.defendTeam.heros" :hero-data="hero" :index="index" :battle-end="end" :cur-actor="curHero"></Hero>
        </div>
    </div>
    <div id="events">
        <ul>
            <li v-for="evt in events">{{evt|displayEvent}}</li>
        </ul>
    </div>
</div>